<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/css/post-request.css">
    <title>user page</title>
  </head>

  <body>
    <%= form_for(@review_request, html: {class: "post-request"}) do |f| %>
      <% if @review_request.errors.any? %>
        <div class="post-request__error-list">
          <p class="error-list__head">Error</p>
          <% @review_request.errors.full_messages.each do |message| %>
          <li class="error-list__message">
            <%= message %>
          </li>
          <% end %>
        </div>
      <% end %>

      <%= f.text_field :title,
        class: "post-request__input-title" %>

      <%= f.submit "リクエスト",
        class: "post-request__submit-button post-request__submit-button_top" %>

      <p class="post-request__label">タグを半角スペース区切りで入力</p>
      <input id="tags" name="tags" value="<%= @tag_names_text %>" type="text" class="post-request__input-tags">
      
      <p class="post-request__label">本文を入力</p>

      <%= f.text_area :text,
        class: "post-request__input-text" %>

     <%= f.submit "リクエスト",
        class: "post-request__submit-button post-request__submit-button_bottom"%>
    <% end %>
  </body>
</html>
